extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p Portfolio description


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each Project in Projects
        .cell
          a(href='/projects/'+ Project.id)
            img.thumbnail(src= Project.image_urls[0], alt='1')
            h5=Project.project_name